* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navbar */

.navbar {
  width: 100%;
  height: 10vh;
  padding: 20px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #222222;
  color: #f6f6f6;
}
.navbar .logo {
  font-size: 22px;
  font-weight: 600;
}
.navbar .navLinks {
  width: 450px;
}
.navbar .navLinks ul {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  list-style-type: none;
}
.navbar .navLinks .navLink {
  font-size: 18px;
  font-weight: 400;
}
.burger {
  display: none;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HOME SECTION */

#home {
  background-image: url(/RestaurantWebsiteBasic/assets/BurgerFries.jpg);
  box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.4);
  color: #f6f6f6;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: left;
  display: flex;
}

#home h1 {
  margin-left: 200px;
  font-size: 3.5rem;
  letter-spacing: .3rem;
  line-height: 5rem;
  text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Responsive Style Begins*/

@media screen and (max-width: 1200px) {
  #home h1 {
    margin-left: 40px; 
  }
}

@media screen and (max-width: 768px) {
  .navbar .navLinks {
    background-color: #333333;
    position: absolute;
    right: 0;
    top: 10vh;
    height: 90vh;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
    transform: translateX(100%);
  }
  .navbar.open .navLinks {
    transform: translateX(0%);
  }
  .navbar .navLinks ul {
    height: 60vh;
    display: flex;
    flex-direction: column;
  }
  .navbar .burger {
    display: block;
    font-size: 22px;
    cursor: pointer;
  }
  #home h1 {
    margin-left: 16px;
    font-size: 3rem;
    letter-spacing: .2rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 600px) {
  #home h1 {
    margin-left: 12px;
    font-size: 2.2rem;
    letter-spacing: .2rem;
    line-height: 3rem;
  }
}